body {
  margin: 0;
  padding: 0;
  background-color: darkgray;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0rem;
}

table {
  border-collapse: collapse;
}

td {
  border-bottom: 1px solid #ccc;
}

.MuiTypography-h2-147{
  width: 30%;
}
.MuiListItem-button-179{
  width: 50%;
}
.MuiButton-colorInherit-191{
  position: absolute !important;
  right: 0;
  top:12px;
  width: 10%;
}
.MuiGrid-item-2{
  margin-right: 50px;
}
.MuiGrid-grid-sm-2-45{
  background: rgb(108,0,99);
  background: linear-gradient(90deg, rgba(108,0,99,0.5) 0%, rgba(126,87,194,1) 57px, rgba(97,102,103,0.5) 6%);
  /*background-color: rgba(0,0,0,0.3); */
  margin-right: 8% !important;
  height: 100%;

}

td:last-child {
  width: 20%;
  text-align: center;
}

@media screen and (min-width: 862px) {
  .container {
    /*width: 54rem;
    margin: auto;*/
  }

}
